<!DOC TYPE html>

<html ng-app="todoApp">
    <head>
        <title>To do list</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        
    </head>
    <body ng-controller="taskCtrl">
            <form ng-submit="addTask()">
                Ajouter la task : <input type="text" ng-model="taskName">
                <input type="submit" value="Ajouter">
            </form>
        
        <div ng-repeat="ta in taskSet"> 
            <input type="checkbox" ng-model="ta.checked" ng-click="checkedIndex(ta)">{{ ta.taskName}} 
            <button ng-click="supprimer(ta)">X</button>
        </div>
        <script src="angular.min.js"></script>
        <script src="js/test8.js"></script>
    </body>
        
    
</html>
